{#{% extends 'orderform/base.html' %}#}
{% extends 'orderform/cakemonster.html' %}

{% block title%}
CakeMonster Order List
{% endblock%}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<style>
.btn {
padding: 5px 5px !important;
border-radius: 5px !important;
text-transform: initial !important;
}
</style>
<script>

$(document).ready( function () {
    $('.table').DataTable({
    "order": [[ 3, 'des' ], [ 4, 'des' ]],
  "columnDefs": [
    { className: "dt-center", "targets": [ 0,1,2,3,4,5,6 ] }
                ]
    });
} );

$(document).on("click", ".xyz", function () {
     var myBookId = $(this).data('id');
        console.log("working?");
        console.log(myBookId);
        var url_mask = "{% url 'orderform:statusupdate' 12345 %}".replace(/12345/, myBookId);
 {#$(".modal-body #bookId").val( myBookId );#}
     // As pointed out in comments,
     // it is superfluous to have to manually call the modal.
        $.ajax({url: url_mask, success: function(result){
            console.log(result);
            $(".modal-body").html(result);

            $('#orderform').attr('action', url_mask);

        }});
      {#$('.modal-body .form-group #orderid').val(myBookId);#}
});

</script>
{% endblock %}

{% block body%}
<div class="container">
    <div class="row well" style="text-align:center">
        <!--<div class ="col-md-12">-->
            <div class ="col-md-9" >
                <form class="form-inline" action="" method="GET" >
                    <div class="form-group">
                      <label for="date">Start Date:</label>
                      <input type="date" class="form-control" placeholder="Enter start date" name="startdate">
                    </div>
                    <div class="form-group">
                      <label for="date">End Date:</label>
                      <input type="date" class="form-control" placeholder="Enter end date" name="enddate">
                    </div>
                    <button type="submit" class="btn btn-default">&nbsp &nbsp &nbsp &nbsp &nbsp Search &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</button>
                </form>
            </div>
            <div class ="col-md-3" style="margin-top:12px;">
                <form action="{% url 'orderform:listorders'  %}" method="GET" >
                    <button type="submit" class="btn btn-default">Show All Orders</button>
                </form>
            </div>
        <!--</div>-->
    </div>
    <div class="row">
{#        <div class ="col-md-1">#}
{#        </div>#}
        <div class ="col-md-12 well" >
            <div class="table-responsive">
                <h3 style="text-align:center">Order List</h3>
                    {% if request.GET.startdate != "" and request.GET.startdate != None %}
                        <p>Start date: {{ request.GET.startdate }}</p>
                    {% endif %}
                    {% if request.GET.enddate != "" and request.GET.enddate != None %}
                        <p>End Date:{{ request.GET.enddate }}</p>
                    {% endif %}
                    {% if all_orders %}
                        <table class="table table-striped" >
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Image</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for orders in all_orders %}
                                    <tr>
                                        <td>{{ orders.id }}</td>
                                        <td>{{ orders.fullname }}</td>
                                        <td>{{ orders.contactnumber }}</td>
                                        <td>{{ orders.date }}</td>
                                        <td>{{ orders.time }}</td>
                                        <td>    <img height="60" width="60" src="{{orders.image1.url}}"></td>
                                        <td>
                                            {{ orders.get_status_display }} <br/>
                                            <button type="button" class="btn btn-info btn-lg xyz" data-toggle="modal" data-id="{{ orders.id }}" data-target="#myModal" >Update Status</button>
                                            <!--<button class="btn btn-info btn-lg" onclick="window.location.href='{% url 'orderform:updateorder' orders.id %}'">Edit Order</button>-->
                                            <!--<a href="{% url 'orderform:updateorder' orders.id %}" title="Edit Order"><i class="material-icons">&#xe22b;</i></a>-->
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>No Orders</p>
                    {% endif  %}
            </div>
        </div>
{#        <div class ="col-md-1">#}
{#        </div>#}

    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align:center;">Update Status</h4>
      </div>
      <div class="modal-body" style="text-align:center">
{#            <form>#}
{#                <div class="form-group">#}
{#                    <input type="hidden" class="form-control" name="orderid" id="orderid" value=""  required="true">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="sel1">Cake Flavour:</label>#}
{#                    <select class="form-control" id="sel1">#}
{#                        <option>Chocolate Fudge</option>#}
{#                        <option>Plain Cheese</option>#}
{#                        <option>Chocolate Chip</option>#}
{#                        <option>Nutella</option>#}
{#                    </select>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-default">Update Order Status</button>#}
{#            </form>#}
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
</div>
{% endblock %}